.title {
    width: 100%;
    padding: 0.5rem;
    text-align: left;
    border-bottom : 2px solid white;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.donut-chart{
    margin: 1.5rem;
}